.box{
    width:50%;
    height: 300px;
    margin-left: 25%;
    margin-top: 15%;
    margin-right: 25%;
    border: solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

}
.b1{
    width: 40%;
    height: 75%;
    margin-left: 5%;
    margin-top: 5%;
    border: solid black;
}
.b2{
    width: 40%;
    height: 75%;
    margin-right: 5%;
    margin-top: 5%;
    border: solid black;
}
